<div class="overview-block-ptb main-content no-hight find-flight fullbg">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <a routerLink="/" class="iq-logo">
          <img src="assets/images/logo.png" alt="">
        </a>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="iq-mr-15">
              <img src="assets/images/wallet-img.jpg" alt="logo">
            </span>Wallet</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="/">Home</a>
            <a class="dropdown-item active" routerLink="/client/wallet">Wallet</a>
            <a class="dropdown-item" routerLink="/client/profile">Profile</a>
            <a class="dropdown-item" routerLink="#">Log Out </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container iq-mt-80 wallet-box">
    <div class="row justify-content-lg-center">
      <div class="col-lg-8">
        <div class="iq-form">
          <div class="heading-title">
            <h5 class="title iq-font-white">Wallet</h5>
          </div>
          <div class="row justify-content-lg-center iq-mtb-30 wallet-aria">
            <div class="col-lg-6 col-md-6 col-sm-12 iq-mtb-10 text-left">
              <div class="media-aria">
                <img src="assets/images/icon/icon-1.png" alt="">
                <span class="iq-tw-6 iq-font-white iq-lead iq-ml-20">AAdvantage Mileage Plan</span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 iq-mtb-10 text-right">
              <button type="button" class="button green" (click)="openMileagePlan()">Redeem</button>
            </div>
          </div>
          <div class="row justify-content-lg-center iq-mtb-30  wallet-aria">
            <div class="col-lg-6 col-md-6 col-sm-12 iq-mtb-10 text-left">
              <div class="media-aria">
                <img src="assets/images/icon/icon-2.png" alt="">
                <span class="iq-tw-6 iq-font-white iq-lead iq-ml-20">AA Voucher</span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 iq-mtb-10 text-right">
              <button type="button" class="button green" data-toggle="modal" data-target=".voucher-model">Redeem</button>
            </div>
          </div>
          <hr class="iq-mtb-20">
          <div class="row">
            <div class="col-sm-6 text-center">
              <a class="iq-link no-brd iq-tw-6 mine" (click)="openAddReward()">Add Reward Program</a>
            </div>
            <div class="col-sm-6 text-center">
              <a href="#" class="iq-tw-6"></a>
              <a class="iq-link no-brd iq-tw-6 mine" (click)="openAddVoucher()">Add Voucher</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal fade reward-model thechoice" id="AddRewardModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body iq-pall-30">
        <div class="dropdown">
          <button class="dropdown-toggle button btn-full" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Add your reward program
          </button>
          <div class="dropdown-menu nice-drop" aria-labelledby="dropdownMenuButton" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -164px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a class="dropdown-item close-modal mine" (click)="openContinueReward()">Demo 1</a>
            <a class="dropdown-item close-modal mine" (click)="openContinueReward()">Demo 2</a>
            <a class="dropdown-item close-modal mine" (click)="openContinueReward()">Demo 3</a>
            <a class="dropdown-item close-modal mine" (click)="openContinueReward()">Demo 4</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade continue-model" id="ContinueAddReward" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body iq-pall-30 text-center">
        <a data-dismiss="modal" class="button btn-full" style="color: white;">Continue
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade add-model" id="AddVoucher" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body iq-plr-20 iq-pt-40 iq-pb-40">
        <form>
          <div class="form-group">
            <label class="iq-lead iq-font-black iq-tw-6" for="exampleFormControlTextarea1">Add your voucher number here</label>
            <textarea class="form-control iq-mt-10" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <button type="submit" class="button btn-full" (click)="addedVoucher()">Enter</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade mileage-model" id="mileagplan" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body iq-plr-20 iq-pt-40 iq-pb-40 text-center">
        <div class="heading-title black">
          <h5 class="title">AAdvantage Mileage Plan</h5>
        </div>
        <h6 class="iq-tw-6">Balance:1000 miles</h6>
        <img class="iq-mtb-20" src="assets/images/barcode-sticker.jpg" alt="">
        <h6 class="iq-tw-6">Account Number:123 456 7890</h6>
        <a (click)="doneMileage()" class="button iq-mt-30 mine">Continue
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>