.fullbg{
    background-image: url('/assets/images/bg/bg-1.jpg'); 
    background-position: center center;
    background-attachment: fixed; 
    background-size: cover;
    height: 100vh !important;
    background-repeat: no-repeat;
    /*animation: breath 50.0s linear infinite;*/
}

@media only screen and (max-width: 600px) {
    .fullbg{
    height: 130vh !important;
    }
}

.mine{
    cursor: pointer;
    color: #ffffff !important;
    text-decoration: none !important;
}
.mine:hover{
    color: #4d8b1f !important;
    -webkit-transition: all 0.5s ease-in-out;
}

:host ::ng-deep .custom-spinner-template {
    height: 300px;
    width: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

:host ::ng-deep .spinner img{
    background: none;
    opacity: 1;
}

:host ::ng-deep .spinner {
    background: none;
}